.box{
	margin-top: 20px;
	margin-left: 100px;
	border:solid 2px #000;
	width: 240px; 
	padding: 25px;	
}

#kostka{
	width: 114px;
	height:114px;
	cursor: pointer;
	margin-top: 20px;	
	background-image: url('default.png');
}

.plansza{
	width: 600px;
	height:400px;
	background-image: url('plansza.png');
	
	margin:50px;
	position: relative;
}

#pionek{
	width: 50px;
	height:50px;
	position: absolute;
	background-image: url('pionek.png');
}

#reset {
	font-size:20;
	margin-left:100px;
	margin-top:20px;
}
